/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Gotcha';
  src: url('../assets/fonts/gotcha-standup/gotcha-standup.ttf');
}

@font-face {
  font-family: 'Trenda';
  src: url('../assets/fonts/trenda-cufonfonts/Latinotype-Trenda-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Trenda';
  src: url('../assets/fonts/trenda-cufonfonts/Latinotype-Trenda-Semibold.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Trenda';
  src: url('../assets/fonts/trenda-cufonfonts/Latinotype-Trenda-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Morganite';
  src: url('../assets/fonts/Morganite/Morganite-Bold.ttf');
  font-weight: 700;
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Trenda', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;
  color: #1a3775;
  background: #ffffff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

.main-container {
  max-width: 138rem;
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
}

/* Header */

.header {
  background-color: #f88e2b;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.logo {
  width: 37%;
  color: #1a3775;
}

.logo > img {
  display: block;
  width: 20rem;
  height: 5rem;
  object-fit: cover;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  gap: 2.5rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

.nav-links {
  font-size: 1.6rem;
  font-weight: 600;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.search-bar > i {
  font-size: 1.8rem;
  cursor: pointer;
}

.input-search {
  width: 20rem;
  position: relative;
}

.input-search > input {
  display: block;
  font-family: inherit;
  width: 100%;
  height: 5rem;
  border: 1px solid #1a3775;
  border-radius: 25px;
  padding-left: 2rem;
  padding-top: 1.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #1a3775;
  background-color: transparent;
}

.input-search > input::placeholder {
  color: #1a3775;
}

.search-title {
  position: absolute;
  top: 0.5rem;
  left: 2rem;
  font-weight: 600;
}

.hamburger-icon {
  display: none;
}

.hamburger-icon > i {
  font-size: 2.5rem;
  cursor: pointer;
}

.hero {
  max-width: 110rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 5rem;
}

.hero-content {
  display: flex;
  justify-content: space-between;
}

.hero-images {
  width: 50%;
  position: relative;
}

.img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.hero-images .hero-circle-1 {
  display: block;
  width: 29rem;
  height: 29rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.hero-images .hero-circle-2 {
  display: block;
  width: 36rem;
  height: 36rem;
  border-radius: 50%;
  position: absolute;
  top: 10rem;
  right: 0;
}

.hero-title {
  position: relative;
}

.hero-item {
  margin-left: 5rem;
  width: 35%;
  padding: 0 2.5rem;
}

.hero-title h1 {
  font-family: 'Morganite';
  font-size: 15rem;
  letter-spacing: 6px;
  line-height: 0.8;
  color: #ffffff;
  text-transform: uppercase;
}

.sp-text {
  position: absolute;
  top: 7rem;
  left: 0.5rem;
  letter-spacing: 1.5px;
  font-size: 9rem;
  line-height: 1;
  font-family: 'Gotcha';
}

.hero-description {
  margin-top: 2.5rem;
  padding-bottom: 5rem;
  font-size: 2.4rem;
  font-weight: 700;
}

/* Region-Section */

.region {
  padding: 12rem 0;
}

.region-main-flex {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.region-title,
.region-description {
  width: 50%;
}

.region-title > h2 {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1;
}

.region-title .sp-title {
  font-family: 'Gotcha', sans-serif;
  font-size: 7rem;
  line-height: 1;
  color: #f88e2b;
}

.region-description > p {
  font-size: 2rem;
  font-weight: 400;
}

.region-box {
  border: 3px solid #1a3775;
  border-radius: 10rem;
  padding: 1.5rem 3.5rem;
  margin-top: 5rem;
  padding-right: 1.5rem;
}

.region-box-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.region-item {
  padding-left: 3.5rem;
  padding-right: 0.5rem;
  border-left: 2px solid #1a3775;
}

.region-item > h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

.region-item:nth-child(1) {
  border-left: 0;
}

.region-dropdown {
  width: 19rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0.95rem 2rem;
  color: #fff;
  background-color: #f88e2b;
  border-radius: 5rem;
  font-size: 1.8rem;
  font-weight: 400;
  cursor: pointer;
}

.region-dropdown > i {
  color: #1a3775;
  font-size: 1.6rem;
}

/* Planifier-Section */
.planifier-content {
  display: flex;
  justify-content: space-between;
}

.planifier-item {
  width: 50%;
  background-color: #f4b223;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.planifier-item-content {
  width: 80%;
  margin: 0 auto;
  padding: 5rem 0;
}

.planifier-title {
  margin-bottom: 2rem;
}

.planifier-title > h2 {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
}

.planifier-sp-text {
  font-family: 'Gotcha', sans-serif;
  font-size: 6rem;
  line-height: 0.8;
  color: #1a3775;
  font-weight: normal;
}

.planifier-description {
  margin-bottom: 2.5rem;
}

.planifier-description > p {
  font-size: 2rem;
  font-weight: 400;
}

.planifier-item .btn {
  display: block;
  width: 19rem;
  padding: 1rem 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 400;
  background-color: #1a3775;
  color: #ffffff;
  border: 0;
  border-radius: 5rem;
  cursor: pointer;
}

.planifier-image {
  width: 50%;
}

.planifier-image > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Decouvirer-Section */

.decouvirer-content {
  display: flex;
  justify-content: space-between;
}

.decouvirer-item {
  width: 35%;
  background-color: #00c1de;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.decouvirer-item-content {
  width: 50%;
  margin: 0 auto;
  padding: 5rem 0;
}

.decouvirer-title {
  margin-bottom: 2rem;
}

.decouvirer-title > h2 {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
}

.decouvirer-sp-text {
  font-family: 'Gotcha', sans-serif;
  font-size: 6rem;
  line-height: 0.8;
  color: #1a3775;
  font-weight: normal;
}

.decouvirer-item .btn {
  display: block;
  width: 19rem;
  padding: 1rem 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 400;
  background-color: #1a3775;
  color: #ffffff;
  border: 0;
  border-radius: 5rem;
  cursor: pointer;
}

.decouvirer-image {
  width: 65%;
}

.decouvirer-image > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Recommendations-Section */
.recommendations {
  margin: 10rem 0;
}

.recommendation-content-flex {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  border-top: 3px solid #1a3775;
  padding-top: 3.5rem;
}

.recommendation-line {
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.recommendation-cards {
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
}

.recommendation-card {
  width: 50%;
}

.recommendation-card > img {
  display: block;
  width: 100%;
  height: 28rem;
  object-fit: cover;
}

.recommendation-card > p {
  font-size: 1.8rem;
  padding-top: 1.5rem;
  color: #00c1de;
}

.recommendation-card > h3 {
  font-size: 2.4rem;
  line-height: 1.3;
  font-weight: 700;
}

.recommendation-item {
  width: 35%;
}

.recommendation-cards {
  flex: 1;
}

.recommendation-title > h2 {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1;
  color: #1a3775;
}

.recommendation-sp-text {
  font-family: 'Gotcha', sans-serif;
  font-size: 6rem;
  line-height: 1;
  color: #f88e2b;
  font-weight: normal;
}

.recommendation-description {
  margin: 2.5rem 0;
  width: 80%;
}

.recommendation-description > p {
  font-size: 2rem;
  font-weight: 400;
}

.recommendation-item .btn {
  display: block;
  width: 19rem;
  padding: 1rem 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 400;
  background-color: #f88e2b;
  color: #ffffff;
  border: 0;
  border-radius: 5rem;
  cursor: pointer;
}

/* Comprendre-Section */
.comprendre-content {
  display: flex;
  justify-content: space-between;
}

.comprendre-item {
  width: 50%;
  background-color: #1a3775;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comprendre-item-content {
  width: 70%;
  margin: 0 auto;
  padding: 5rem 0;
}

.comprendre-title {
  margin-bottom: 2rem;
}

.comprendre-title > h2 {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
}

.comprendre-sp-text {
  font-family: 'Gotcha', sans-serif;
  font-size: 6rem;
  line-height: 0.8;
  color: #f4b223;
  font-weight: normal;
}

.comprendre-description {
  margin-bottom: 2.5rem;
}

.comprendre-description > p {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}

.comprendre-item .btn {
  display: block;
  width: 19rem;
  padding: 1rem 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 400;
  background-color: #f88e2b;
  color: #ffffff;
  border: 0;
  border-radius: 5rem;
  cursor: pointer;
}

.comprendre-image {
  width: 50%;
}

.comprendre-image > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Articles-Section */
.articles {
  margin: 10rem 0;
  padding-bottom: 20rem;
}

.line-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles-line {
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.articles-cards {
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
  border-top: 3px solid #1a3775;
  padding-top: 3.5rem;
}

.articles-card {
  width: 50%;
}

.articles-card > img {
  display: block;
  width: 100%;
  height: 28rem;
  object-fit: cover;
}

.articles-card > p {
  font-size: 1.8rem;
  padding-top: 1.5rem;
  color: #f88e2b;
}

.articles-card > h3 {
  font-size: 2.4rem;
  line-height: 1.3;
  font-weight: 700;
}

/* Footer */

.footer {
  background-color: #dfdfdf;
  padding-top: 15rem;
  padding-bottom: 5rem;
}

.footer-banner {
  margin-top: -27rem;
}

.footer-banner-flex {
  display: flex;
  justify-content: space-between;
}

.footer-banner-item {
  width: 40%;
  background-color: #1a3775;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
}

.footer-banner-item > h2 {
  font-size: 4.2rem;
  line-height: 1;
  color: #00c1de;
}

.footer-banner-sp-text {
  font-family: 'Gotcha', sans-serif;
  font-size: 6rem;
  line-height: 0.8;
  font-weight: normal;
  color: #fff;
}

.footer-banner-ent {
  width: 60%;
  background-color: #f88e2b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
}

.footer-banner-ent-content {
  width: 70%;
  margin: 0 auto;
}

.footer-banner-ent-content > h2 {
  font-size: 3.2rem;
  line-height: 1;
  margin-bottom: 1.5rem;
}

.footer-banner-ent-content > p {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.footer-banner-ent-content .btn {
  display: block;
  width: 25rem;
  padding: 1rem 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 400;
  background-color: #1a3775;
  color: #ffffff;
  border: 0;
  border-radius: 5rem;
  cursor: pointer;
}

.footer-nav {
  margin-top: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  padding-bottom: 3.5rem;
}

.footer-menu > h4 {
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
}

.footer-link-btn {
  display: block;
  width: fit-content;
  margin-bottom: 1.5rem;
  padding: 0.7rem 1.2rem;
  border: 2px solid #1a3775;
  border-radius: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.footer-link-btn > i {
  padding-left: 1.5rem;
}

.footer-link {
  display: block;
  font-size: 1.8rem;
}

.footer-text {
  border-top: 3px solid #1a3775;
  padding-top: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2.5rem;
}

.footer-text-item {
  margin-right: 5rem;
}

.footer-text-cp > p {
  font-size: 1.5rem;
}

.page-links {
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-links > a {
  margin-right: 2.5rem;
}

/* Hamburger Menu */

.sidebar-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 30rem;
  z-index: 12;
  height: 100%;
  background-color: #1a3775;
  color: #fff;
  right: -35rem;
  transition: 300ms ease-in;
  padding: 1.5rem 2.5rem;
  visibility: hidden;
}

.sidebar-menu.active {
  right: 0;
  visibility: visible;
}

.sidebar-header {
  text-align: right;
  padding: 1.5rem 0;
}

.sidebar-header > i {
  font-size: 2.4rem;
  cursor: pointer;
}

.main-menu-sidebar {
  margin-top: 3.5rem;
}

.main-menu-sidebar .nav-links {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #ffffff;
}

.search-bar-menu {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-top: 3.5rem;
}

.main-menu-sidebar .input-search > input {
  height: 6rem;
  border: 1px solid #ffffff;
  border-radius: 5rem;
  padding-left: 2.5rem;
  color: #ffffff;
  background-color: transparent;
}

.main-menu-sidebar .input-search > input::placeholder {
  color: #ffffff;
}

.main-menu-sidebar .search-title {
  left: 2.5rem;
}

/* --------------------------------Collection-Page------------------------------------ */
/* Collection-Header */
.collection.header {
  background-color: #fff;
}

/* Collection Region-Section */
.collection.region {
  padding: 2.5rem 0;
}

.collection.region-box {
  margin-top: 0;
}

/* Area-Card */
.area-card {
  margin: 2.5rem 0;
  padding-bottom: 20rem;
  background-color: #dfdfdf;
}

.area-card-filter {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 2.5rem;
}

.area-card-filter-types {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2.5rem;
  position: relative;
}

.filter-type {
  display: block;
  font-family: inherit;
  padding: 1.12rem 1.8rem;
  background-color: #ffffff;
  border-radius: 2.5rem;
  border: 0;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #1a3775;
  cursor: pointer;
}

.filter-type > i {
  padding-left: 1.5rem;
  font-size: 1.8rem;
  vertical-align: middle;
}

.categories {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.filter-icon-box {
  padding: 0.5rem;
  border-radius: 5rem;
  border: 1px solid #1a3775;
}

.bars-icon {
  display: inline-block;
  width: 2.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  text-align: center;
  background-color: #1a3775;
  color: #ffffff;
  border-radius: 50%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.gray-col {
  font-size: 1.6rem;
  color: #777;
}

.filter-icon-box > i {
  font-size: 1.5rem;
  padding-right: 0.25rem;
}

/* Dropdown-Code-Autres */

#autres-filters-wrapper {
  position: relative;
}

.dropdown-autres {
  padding: 1.5rem;
  border: 2px solid #1a3775;
  border-radius: 1.5rem;
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 25rem;
  background-color: #ffffff;
  display: none;
  z-index: 10;
}

.dropdown-autres.active {
  display: block;
}

.checkbox-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.2rem;
}

.checkbox-control label {
  font-size: 1.8rem;
  font-weight: 400;
}

.checkbox-control input {
  width: 1.6rem;
  height: 1.6rem;
  accent-color: #1a3775;
}

/* Cards-Styling With Slider */
.area-card-content {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
}

.area-card-slider {
  width: 35%;
}

.area-card-description {
  flex: 1;
  padding: 3rem;
  background-color: #ffffff;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.area-card-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.area-card-header > img {
  display: block;
  width: 7.5rem;
  height: 7.5rem;
  padding: 1rem;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #1a3775;
}

.area-card-title {
  font-size: 2.2rem;
  color: #f88e2b;
}

.area-card-subtitle {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1;
  color: #1a3775;
}

.area-card-body {
  margin-top: 2.5rem;
}

.area-card-body p {
  font-size: 1.8rem;
}

.area-card-footer {
  margin-top: 6.5rem;
}

.area-card-footer-content {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.8rem;
}

.dot {
  font-size: 2.2rem;
}

.rating > i {
  color: #f88e2b;
  padding-right: 0.5rem;
}

.area-card .swiper {
  width: 100%;
  height: 100%;
}

.area-card .swiper-slide {
  width: 100%;
  height: 100%;
}

.area-card .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.area-card .swiper-button-next,
.area-card .swiper-button-prev {
  width: calc(var(--swiper-navigation-size) / 44 * 40);
}

.area-card .swiper-button-next:after,
.area-card .swiper-button-prev:after {
  font-family: 'Font Awesome 5 Free';
  content: '\f105';
  font-size: 2.4rem;
  font-weight: 900;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  line-height: 4rem;
  text-align: center;
  background-color: #ffffff;
  color: #1a3775;
}

.area-card .swiper-button-prev:after {
  content: '\f104';
}

.btn-card {
  display: block;
  width: 21rem;
  text-align: left;
  padding: 1rem 0;
  padding-left: 2rem;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 400;
  background-color: #00c1de;
  color: #ffffff;
  border: 0;
  border-radius: 5rem;
  cursor: pointer;
  margin: 3.5rem auto;
  text-align: center;
}

/* Collection-Footer */

.collection.footer {
  padding-top: 13rem;
  background-color: #fff;
}

/* -------------------------Restaurant-Page-------------------------------- */
.breadcrumb {
  background-color: #f88e2b;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.breadcrumb-content {
  margin-left: 14rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.breadcrumb-link {
  font-weight: 600;
}

.breadcrumb-icon {
  opacity: 0.8;
  font-size: 1.4rem;
}

.restaurant-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2.5rem 0 1.5rem 0;
}

.restaurant-header-item {
  margin-top: -8rem;
}

.restaurant-header-item > img {
  display: block;
  width: 12rem;
  height: 12rem;
  padding: 1rem;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #1a3775;
  background-color: #ffffff;
}

.restaurant-header-footer {
  flex: 1;
}

.restaurant-header-footer > h2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  color: #1a3775;
}

.restaurant-header-footer-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  padding-top: 0.85rem;
}

.restaurant-header-footer-child {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.6rem;
}

.share-btn {
  display: block;
  background-color: #ffffff;
  border: 0;
  display: flex;
  gap: 0.85rem;
  align-items: center;
  font-size: 1.6rem;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
}

.restaurant-gallery {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.restaurant-gallery-image {
  flex: 1 1 33%;
}

.restaurant-gallery-image > img {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.image-btn {
  position: relative;
}

.btn-gallery {
  position: absolute;
  bottom: 2.5rem;
  right: 1.5rem;
  display: block;
  width: 20rem;
  text-align: center;
  font-family: inherit;
  background-color: #fff;
  color: inherit;
  border: 0;
  border-radius: 5rem;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  gap: 0.85rem;
  font-size: 2rem;
}

.btn-gallery-text {
  align-self: flex-end;
  font-weight: 600;
  font-size: 1.6rem;
}

.restaurant-main {
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
  padding-bottom: 25rem;
}

.restaurant-main-left {
  flex: 1;
}

.restaurant-main-right {
  width: 32rem;
}

.restaurant-main-right-card {
  border: 2px solid #1a3775;
  border-radius: 3.5rem;
  padding: 2.5rem;
}

.restaurant-card-form-control {
  margin-bottom: 1.5rem;
}

.restaurant-card-form-control > label {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
}

.restaurant-card-form-control > select,
.restaurant-card-form-control > input {
  display: block;
  font-family: inherit;
  padding: 0.85rem 0.5rem;
  width: 100%;
  font-size: 1.6rem;
  color: inherit;
  border: 0;
  outline: none;
  background-color: #fff;
}

.restaurant-card-form-control > input {
  border-bottom: 0;
  padding: 0.5rem 0;
}

.restaurant-card-form-control > input[type='date']:focus {
  border-bottom: 0;
  color: #1a3775;
}

.restaurant-card-form-control > input::placeholder {
  color: #1a3775;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.select-field,
.date-field {
  position: relative;
}

.input-right-icon {
  position: absolute;
  top: 3.1rem;
  right: 0;
}

.btn-form {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1.2rem;
  padding-left: 2rem;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 400;
  background-color: #1a3775;
  color: #ffffff;
  border: 0;
  border-radius: 5rem;
  cursor: pointer;
  font-weight: 600;
}

.btn-form-reserve {
  margin-top: 1.5rem;
}

.btn-form-commander {
  background-color: #f88e2b;
  margin-top: 1.5rem;
}

.btn-form-menu {
  margin-top: 1.5rem;
  background-color: #ffffff;
  color: #1a3775;
  border: 2px solid #1a3775;
}

.small-line {
  height: 1.5px;
  background-color: #1a3775;
  margin-top: 0.5rem;
}

/* Right-Side */
h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

.restaurant-description {
  display: flex;
  gap: 1.5rem;
  padding-bottom: 3.5rem;
  border-bottom: 1px solid #1a3775;
}

.restaurant-description-info {
  width: 50%;
}

.restaurant-description-contact {
  flex: 1;
  margin-left: 3.5rem;
}

.restaurant-contact-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.2rem;
}

.restaurant-contact-text > i {
  padding-left: 0.5rem;
  color: #f88e2b;
  font-size: 1.6rem;
  vertical-align: middle;
}

.restaurant-description-info > a {
  display: block;
  margin-top: 2rem;
  text-decoration: underline;
  font-weight: 600;
}

.restaurant-description-info > a i {
  font-size: 1.5rem;
}

/* Offer-Section */
.offer {
  padding: 3.5rem 0;
  border-bottom: 1px solid #1a3775;
}

.offer-title {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2;
  color: #1a3775;
}

.offer-content {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}

.offer-item {
  flex: 1 1 32%;
}

/* Evaluation-Section */
.evaluation {
  padding: 3.5rem 0;
  border-bottom: 1px solid #1a3775;
}

.evaluation-content {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.evaluation-item,
.avis-item {
  width: 48%;
}

.evaluation-title,
.avis-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.evaluation-title h2,
.avis-title h2 {
  font-size: 3.6rem;
  font-weight: 700;
  color: #1a3775;
  line-height: 1.2;
}

.evaluation-rate,
.avis-title {
  font-size: 2.2rem;
  font-weight: 700;
}

.evaluation-rate > i {
  font-size: 1.8rem;
  font-weight: 900;
  color: #f88e2b;
  padding-right: 0.5rem;
}

.evaluation-data,
.avis-data {
  margin-top: 2.5rem;
}

.evaluation-data-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.avis-link {
  display: block;
  margin-top: 2rem;
  text-decoration: underline;
  font-weight: 600;
}

.avis-link > i {
  font-size: 1.5rem;
}

/* Time-Section */
.time {
  padding: 3.5rem 0;
  border-bottom: 1px solid #1a3775;
}

.time > h2 {
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 700;
  color: #1a3775;
}

.time-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.time-data {
  width: 50%;
}

/* Destination-Section */

.destination {
  padding: 3.5rem 0;
  border-bottom: 1px solid #1a3775;
}

.destination > h2 {
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 700;
  color: #1a3775;
}

.destination > img {
  display: block;
  width: 100%;
  height: 35rem;
  object-fit: cover;
  margin: 1.5rem 0;
}

/* Proximity-Section */
.proximity {
  padding: 3.5rem 0;
  border-bottom: 1px solid #1a3775;
}

.proximity > h2 {
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 700;
  color: #1a3775;
  margin-bottom: 1.5rem;
}

/* Autres-Section */
.autres-info {
  padding: 3.5rem 0;
  border-bottom: 1px solid #1a3775;
}

.autres-info > h2 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2;
  color: #1a3775;
  margin-bottom: 1.5rem;
}

/* NTK-Section */
.ntk {
  padding: 3.5rem 0;
  border-bottom: 1px solid #1a3775;
}

.ntk > h2 {
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 700;
  color: #1a3775;
}

.ntk-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.ntk-data {
  width: 50%;
}

.ntk-link {
  display: block;
  margin-top: 2rem;
  text-decoration: underline;
  font-weight: 600;
}

.ntk-link > i {
  font-size: 1.5rem;
}

/* FAQ-Section */

.faq {
  padding: 3.5rem 0;
}

.faq > h2 {
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 700;
  color: #1a3775;
}

.accordion {
  margin-top: 1.5rem;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1.2rem 0;
  color: #1a3775;
  font-size: 1.8rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.accordion button .accordion-title {
  padding: 0.8rem 1.2rem 0.8rem 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
}

.accordion button[aria-expanded='true'] .icon-accordion {
  transform: rotate(180deg);
}

.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content p {
  font-size: 1.6rem;
  color: #777777;
  padding-left: 3.5rem;
  width: 85%;
  padding-bottom: 0.85rem;
}

/* ---------------------Entreprendre Page---------------------- */
.header-entreprendre {
  background-color: #00c1de;
}

.hero-entreprendre {
  max-width: 110rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 5rem;
}

.hero-entreprendre-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.hero-entreprendre-images {
  width: 45%;
  position: relative;
}

.hero-entreprendre-images > img {
  display: block;
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  margin-bottom: -2.5rem;
  object-fit: cover;
}

.hero-entreprendre-item {
  width: 50%;
}

.hero-entreprendre-title {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  padding-bottom: 0.5rem;
}

.sp-text-entreprendre {
  font-family: 'Gotcha', sans-serif;
  font-size: 6rem;
  line-height: 0.8;
  color: #1a3775;
  font-weight: normal;
}

.hero-entreprendre-description {
  margin-top: 2rem;
  color: #ffffff;
}

/* Connexion-Section */
.connexion-content {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
  gap: 2.5rem;
  padding: 8rem 0;
}

.connexion-item {
  flex: 1;
}

.connexion-title {
  margin: 2rem 0;
}

.connexion-title > h2 {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #1a3775;
}

.connexion-sp-text {
  font-family: 'Gotcha', sans-serif;
  font-size: 6rem;
  line-height: 0.8;
  color: #f88e2b;
  font-weight: normal;
}

.connexion-description {
  margin-bottom: 2.5rem;
}

.connexion-description > p {
  font-size: 1.8rem;
  font-weight: 400;
}

.connexion-item .btn {
  display: block;
  width: 19rem;
  padding: 1rem 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 400;
  color: #ffffff;
  background-color: #1a3775;
  border: 0;
  border-radius: 5rem;
  cursor: pointer;
}

.connexion-image > img {
  display: block;
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  object-fit: cover;
  margin-left: auto;
}

.connexion-sub {
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #1a3775;
}

/* Profitz-Section */

.profitz {
  background-color: #f4b223;
  padding: 8rem 0;
}

.profitz-title {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1;
  color: #1a3775;
}

.profitz-content {
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.profitz-card {
  width: 30%;
  display: flex;
  gap: 2.5rem;
  padding-bottom: 5rem;
  border-bottom: 2px solid #1a3775;
}

.profitz-card > h3 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #ffffff;
}

/* Monde-Section */

.monde-content {
  display: flex;
  justify-content: space-between;
}

.monde-item {
  width: 65%;
  background-color: #1a3775;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.monde-item-content {
  width: 75%;
  margin: 0 auto;
  padding: 8rem 0;
}

.monde-title {
  margin-bottom: 2rem;
}

.monde-title > h2 {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
}

.monde-item .btn {
  display: block;
  width: 19rem;
  text-align: center;
  padding: 1rem 0.5rem;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 400;
  background-color: #f88e2b;
  color: #ffffff;
  border: 0;
  border-radius: 5rem;
  cursor: pointer;
}

.monde-image {
  width: 35%;
}

.monde-image > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.monde-list {
  margin: 2.5rem 0;
}

.monde-list-item {
  margin-bottom: 1.5rem;
  display: flex;
  gap: 2.5rem;
}

.monde-list-item > i {
  font-size: 3rem;
}

/* Footer-entreprendre */
.footer-entreprendre {
  padding: 3.5rem 0;
}

.footer-entreprendre .footer-nav {
  margin-top: 3.5rem;
}

/* Responsive Styles Media Queries */

@media (max-width: 992px) {
  .hero-images .hero-circle-1 {
    width: 24rem;
    height: 24rem;
  }

  .hero-images .hero-circle-2 {
    width: 30rem;
    height: 30rem;
    top: 10rem;
    right: 0rem;
  }

  .img-box {
    top: 5rem;
  }

  .hero-item {
    margin-left: 0;
    padding: 0;
  }

  .decouvirer-item {
    width: 45%;
  }

  .decouvirer-image {
    width: 55%;
  }

  .area-card-description {
    padding: 2rem;
  }

  .area-card-body p {
    font-size: 1.6rem;
  }

  .area-card-footer-content {
    gap: 1rem;
    font-size: 1.6rem;
  }

  .restaurant-main-right {
    width: 27rem;
  }

  .restaurant-main-right-card {
    padding: 2rem;
  }
}

@media (max-width: 925px) {
  .nav-menu {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  .main-menu {
    justify-content: flex-end;
    gap: 1.5rem;
  }

  .region-box {
    padding-right: 1.5rem;
  }

  .region-item:nth-child(1) {
    border-left: 0;
    padding-left: 1.5rem;
  }

  .recommendation-content-flex {
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
  }

  .recommendation-item {
    width: 100%;
  }

  .articles-cards {
    gap: 1.5rem;
  }

  .restaurant-main {
    flex-direction: column;
  }

  .restaurant-main-left {
    order: 2;
    width: 100%;
    margin-top: 5rem;
  }

  .restaurant-main-right {
    width: 100%;
  }

  .restaurant-main-right-card {
    padding: 3rem;
    border-radius: 1.5rem;
  }

  .restaurant-description {
    justify-content: space-between;
  }
}

@media (max-width: 900px) {
  .region-box-flex {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
  }

  .footer-banner-ent-content {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 840px) {
  .area-card-description {
    width: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 0;
  }

  .area-card-content {
    flex-direction: column;
  }

  .area-card-slider {
    width: 100%;
  }

  .area-card-footer-content {
    flex-wrap: wrap;
  }

  .area-card .swiper-slide img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
  }
}

@media (max-width: 835px) {
  .img-box {
    position: relative;
    width: 45rem;
    top: 0;
  }

  .hero-images .hero-circle-1 {
    position: relative;
    width: 22rem;
    height: 22rem;
    z-index: 5;
  }

  .hero-images .hero-circle-2 {
    position: absolute;
    top: 6rem;
    right: 7rem;
    width: 26rem;
    height: 26rem;
    margin: 0 auto;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-item {
    width: 100%;
    text-align: center;
    margin-top: 15rem;
  }

  .hero {
    margin-top: 2.5rem;
  }

  .sp-text {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
  }

  .footer-banner-item {
    width: 45%;
    padding: 2.5rem;
  }

  .footer-banner-ent {
    width: 55%;
  }
}

@media (max-width: 782px) {
  .restaurant-header-item {
    margin-top: -12rem;
  }
}

@media (max-width: 767px) {
  .region-main-flex {
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }

  .region-title,
  .region-description {
    width: 100%;
  }

  .region-box {
    border: 1px solid #1a3775;
    border-radius: 1.5rem;
    padding: 1.5rem 1.5rem;
    padding-right: 1.5rem;
  }

  .region-item {
    padding-right: 2.5rem;
    padding-left: 0;
    border-left: 0;
    width: 100%;
  }

  .region-item:nth-child(1) {
    padding-left: 0;
  }
}

@media (max-width: 700px) {
  .comprendre-content {
    flex-wrap: wrap;
  }

  .comprendre-image,
  .comprendre-item {
    width: 100%;
  }

  .decouvirer-content {
    flex-wrap: wrap;
  }

  .decouvirer-image,
  .decouvirer-item {
    width: 100%;
  }

  .decouvirer-image {
    order: 2;
  }

  .planifier-content {
    flex-wrap: wrap;
  }

  .planifier-image,
  .planifier-item {
    width: 100%;
  }

  .articles-cards {
    flex-wrap: wrap;
  }

  .articles-card {
    width: 100%;
  }

  .footer-banner-flex {
    flex-wrap: wrap;
  }

  .footer-banner-item {
    width: 100%;
  }

  .footer-banner-ent {
    width: 100%;
  }
}

@media (max-width: 681px) {
  .restaurant-header-item {
    margin-top: -15rem;
  }
}

@media (max-width: 640px) {
  .dropdown-autres {
    left: 0;
    transform: translateX(0);
  }

  .evaluation-content {
    flex-direction: column;
  }

  .evaluation-item {
    width: 100%;
  }

  .avis-item {
    width: 100%;
  }

  .time-content {
    flex-direction: column;
  }

  .time-data {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .recommendation-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
  }

  .recommendation-card {
    width: 100%;
  }

  .search-bar {
    display: none;
  }

  .restaurant-description {
    flex-direction: column;
  }

  .restaurant-description-info {
    width: 100%;
  }

  .restaurant-description-contact {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .img-box {
    position: relative;
    width: 100%;
  }

  .hero-images .hero-circle-1 {
    position: relative;
    width: 18rem;
    height: 18rem;
    z-index: 5;
  }

  .hero-images .hero-circle-2 {
    position: absolute;
    top: 6rem;
    right: -8rem;
    width: 22rem;
    height: 22rem;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .hero {
    margin-top: 0;
  }

  .planifier-item-content,
  .decouvirer-item-content,
  .comprendre-item-content {
    width: 100%;
    padding: 5rem 1.5rem;
  }

  .footer-menu {
    width: 100%;
  }

  .filter-type {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 1.2rem;
  }

  #autres-filters-wrapper {
    position: relative;
    width: 100%;
  }

  .dropdown-autres {
    width: 100%;
  }

  .categories {
    justify-content: center;
    width: 100%;
  }

  .area-card-header > img {
    width: 6.5rem;
    height: 6.5rem;
    padding: 0.5rem;
    border: 2px solid #1a3775;
  }

  .area-card-subtitle {
    font-size: 3rem;
  }

  .restaurant-header-item {
    margin-top: 0;
  }

  .restaurant-content {
    align-items: flex-start;
  }

  .restaurant-header-item > img {
    width: 8rem;
    height: 8rem;
    border: 2px solid #1a3775;
  }

  .restaurant-header-footer > h2 {
    font-size: 2.6rem;
  }

  .breadcrumb-content {
    margin-left: 0;
  }

  .ntk-content,
  .offer-content {
    flex-direction: column;
  }

  .ntk-data,
  .offer-item {
    width: 100%;
  }

  .accordion button {
    font-size: 1.6rem;
  }

  .accordion .accordion-content p {
    padding-left: 0;
    width: 100%;
  }

  .region {
    padding: 6rem 0;
  }

  .img-box {
    top: 1.5rem;
  }

  .region-title,
  .region-description,
  .planifier-title > h2,
  .planifier-description,
  .decouvirer-title > h2,
  .recommendation-line,
  .recommendation-title > h2,
  .recommendation-description,
  .recommendation-card > p,
  .comprendre-title > h2,
  .comprendre-description,
  .articles-card > p,
  .footer-menu > h4,
  .footer-link {
    text-align: center;
  }

  .recommendation-description {
    width: 100%;
  }

  .planifier-item .btn,
  .decouvirer .btn,
  .comprendre .btn,
  .footer-link-btn {
    margin: 0 auto;
    margin-top: 2.5rem;
  }

  .articles {
    padding-bottom: 10rem;
  }

  .footer-nav {
    margin-top: 10rem;
    gap: 2.5rem;
  }

  .footer-text-cp > p {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .footer-text-item {
    margin-right: 0;
  }

  .footer-text {
    flex-direction: column;
    justify-content: center;
  }

  .page-links {
    flex-direction: column;
    justify-content: center;
  }

  .page-links > a {
    margin-right: 0;
  }

  .footer-text-cp > p {
    margin-bottom: 2.5rem;
  }

  .recommendations,
  .articles {
    margin: 5rem 0;
  }
}

@media (max-width: 450px) {
  .hero-images {
    width: 100%;
  }

  .img-box {
    width: 30rem;
  }

  .hero-images .hero-circle-1 {
    position: relative;
    width: 18rem;
    height: 18rem;
    z-index: 5;
  }

  .hero-images .hero-circle-2 {
    position: absolute;
    top: 6rem;
    right: -2rem;
    width: 22rem;
    height: 22rem;
    margin: 0 auto;
  }
}
